*{
	margin:0px;
	padding:0px;
}
#container{
	width:800px;
	margin:auto;
	background-color:#ebebeb;
}
#header{
	width:100%;
	height:120px;
	background-color:lightblue;
}
#logo{
	width:25%;
	height:100%;
	background-color:#ddc85d;
	float:left;
}
#logo img{
	width:88%;
    height:100px;
    text-align:center;
    margin-left:13px;
    margin-top: 10px;
}
#slogan{
	width:75%;
	height:100%;
	background-color:#b3abbc;
	float:right;
}
#slogan h1{
	text-align:center;
	margin-top:42px;
	
}
.h{
	color:#a08916;
}
.i{
	color:#66645d;
}
#nav{
	width:100%;
	height:50px;
	background-color:#0d77a8;
}
#nav ul{
	list-style:none;
	text-align:center;
	padding:16px;
}
#nav ul li{
	display:inline;
}
#nav ul li a{
	text-decoration:none;
	color: black;
	background-color:#c9c7bf;
	padding:8px;
	margin-right: 8px;
	/*border-right:5px solid grey;*/
	box-shadow: 4px 5px grey;
}
#nav ul li a:hover {
	background-color:#eae8e1;
}
#nav .active{
	background-color:#39a5d3;
}
#article{
	width:70%;
	height:500px;
	background-color:#cecece;
	float:left;
	padding:0;
	overflow:hidden;
}
.content{
	margin-left:20px;
}
.content form{
	height:auto;
}
.content p{
	border:1px solid grey;
	padding:5px;
	background-color:#efede3;
}
.content h1{
	margin:5px;
}
.content input,textarea,select{
	color:blue;
	font-size:16px;
	border-radius:10px 0px 10px 0px;
}
.content input[type=radio]{
	width:14px;
	height:14px;
}
.content input[ type=text]{
	text-align:center;
}
.content input[ type=email]{
	text-align:center;
}
.content input[ type=number]{
text-align:center;
}
.content input[ type=password]{
	text-align:center;
}
.content input[type=submit]{
	border-radius:250px;
	width:100px;
	background-color:#4c7583;
	color:white;
	padding:5px;
}
#sidebar{
	width:30%;
	height:500px;
	background-color:#4c7583;
	float:right;
	color:white;
}
#sidebar h1{
	margin:0;
	padding:0;
	padding-left:10px;
	text-decoration:underline;
	font-family:comic sans ms;
	margin-top: 20px;
}
#sidebar ul{
	padding-left:12px;
	margin-top:10px;
	margin-right:55px;
	margin-left:12px;
	border: 1px solid white;
	padding-bottom:0px;
}
#sidebar ul li{
	list-style:none;
	border-bottom:1px solid white;
	margin-bottom:20px;	
}
#sidebar ul li:last-child{
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:15px;
	padding-top:0px;
}
#sidebar ul li a{
	text-decoration:none;
	color:white;
	
}
#sidebar ul li a:hover{
	background-color:#c9c7bf;
}
#sidebar ul li:first-child{
	margin-top:20px;
}
#sidebar button{
	margin-top: 10px;
    margin-left: 12px;
    padding: 5px;
    color: white;
    background-color: grey;
	font-weight:bold;
}
#sidebar button:hover{
	color:#c9c7bf;
}
.icon{
	width:40px;
	margin-right:0px;
	margin-top:5px;
	padding:0;
}
.icon1 a img:hover{
	background-color:#c9c7bf;
}
.icon1{
	width:40px;
	margin-right:0px;
	margin-top:5px;
	padding:0;
	margin-left:12px;
}
#footer{
	width:100%;
	height:40px;
	background-color:grey;
	clear:both;
}
#footer p{
	text-align:center;
	font-family:times new roman;
	font-weight:bold;
	padding:10px;
}